@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* "Poppins", sans-serif; */

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
}


/* Main CSS */
body {
  width: 100%;
  margin: 0 auto;
  background: #000000;
  display: block;
  position: relative;
}
.sectionMain {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50vw, 100vw, 100vw);
}
.elements {
  font-weight: 500;
}
/* Profile details */
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-container:hover {
  transform: scale(1.02);
  transition: 0.4s;
}
.outer-container:not(:hover) {
  transform: scale(1);
  transition: 0.4s;
}
.inner-container {
  width: 1280px;
  border: white solid 2px;
  height: 500px;
  border-radius: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  animation-name: profilecard;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  backdrop-filter: blur(10px);
}
@keyframes profilecard {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.mainHead img {
  margin: 20px 0 0px 50px;
  width: 40%;
}
.mainHead {
  width: 50%;
}
.mainHead h1 {
  font-size: 3rem;
  margin-bottom: -0.75rem;
}
.profiles {
  margin-left: 50px;
}
.profiles h1 {
  font-weight: 500;
}
.profiles p {
  font-weight: 500;
  font-size: 1.5rem;
}
.profiles p a:hover {
  font-weight: 500;
  font-size: 1.8rem;
  transition: 0.5s;
  text-decoration: underline;
}
.profiles p a:not(hover) {
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.5s;
}
.profiles a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
}
.icons svg:hover {
  transform: scale(1.1);
  outline: #ffffff solid 4px;
  border-radius: 20px;
}

/*Profile image*/
.profileImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}
.profileImage img {
  width: 70%;
  background-color: transparent;
}
.profileImage a {
  display: flex;
  justify-content: center;
  align-items: end;
}
/*media queries*/
@media (max-width: 600px) {
  * {
    max-width: 600px;
    width: 100%;
  }
  header {
    position: fixed;
    z-index: 100;
  }
  body {
    width: auto;
    margin: 0 auto;
    background: #000000;
    display: block;
  }
  .sectionMain {
    height: 100vh;
    width: 100%;
    max-width: 430px;
  }
  .outer-container {
    display: flex;
    width: 20000vw;
    margin-top: 100px;
  }
  .inner-container {
    width: 100%;
    border: white solid 2px;
    height: 700px;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: #10101082;
    margin: 100px 10px;
  }
  .mainHead img {
    margin: 20px 0 0px 50px;
    width: 70%;
  }
  .mainHead {
    width: 100%;
  }
  .mainHead h1 {
    font-size: 2rem;
    margin-bottom: -0.75rem;
  }
  .profiles {
    margin-left: 10px;
  }
  .profiles h1 {
    font-weight: 500;
  }
  .profiles p {
    font-weight: 500;
    font-size: 1rem !important;
  }
  .profiles a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem !important;
    width: 50px;
  }
  .icons {
    display: flex;
    justify-content: start;
    padding: 10px;
    width: auto;
  }
  /*Profile image*/
  .profileImage {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profileImage img {
    width: 100%;
    background-color: transparent;
  }
}

/*Header CSS*/
.menu {
  background-color: black;
  width: 60px;
}


/* CTAs */
#loginButton {
  width: 100px;
  height: 50px;
  outline: none;
  border: transparent;
  background: black;
  margin: 0 20px 0 0;
  font-size: 1.2rem;
  transition: .5s;
  cursor: pointer;
  margin-top: 10px;
}
#loginButton:hover {
  width: 100px;
  height: 50px;
  outline: none;
  border: transparent;
  background: #CF5729;
  margin: 0 20px 0 0;
  font-size: 1.2rem;
  filter: drop-shadow(0 0 50px #CF5729);
}
#signUpButton {
  width: 100px;
  height: 50px;
  outline: none;
  border: transparent;
  background: #CF5729;
  margin: 0 20px 0 0;
  font-size: 1.2rem;
  transition: .5s;
  cursor: pointer;
  margin-top: 10px;
}
#signUpButton:hover {
  width: 100px;
  height: 50px;
  outline: none;
  border: transparent;
  background: black;
  margin: 0 20px 0 0;
  font-size: 1.2rem;
  filter: drop-shadow(0 0 50px #FFFFFF);
}

@media (max-width:767px) {
  .accountButtons {
    display: flex;
  }
  #loginButton {
    width: 49%;
    height: 50px;
    outline: none;
    border: transparent;
    background: black;
    font-size: 1.2rem;
    transition: .5s;
    cursor: pointer;
    margin:20px 20px 20px 0;
  }
  #loginButton:hover {
    width: 49%;
    height: 50px;
    outline: none;
    border: transparent;
    background: #CF5729;
    font-size: 1.2rem;
    filter: drop-shadow(0 0 50px #CF5729);
    transition: .5s;
    cursor: pointer;
    margin:20px 20px 20px 0;
  }
  #signUpButton {
    width: 49%;
    height: 50px;
    outline: none;
    border: transparent;
    background: #CF5729;
    font-size: 1.2rem;
    transition: .5s;
    cursor: pointer;
    margin:20px 20px 20px 0;
  }
  #signUpButton:hover {
    width: 49%;
    height: 50px;
    outline: none;
    border: transparent;
    background: black;
    font-size: 1.2rem;
    filter: drop-shadow(0 0 50px #FFFFFF);
    margin:20px 20px 20px 0;
  }
}